<launch>
    <!-- The latest reflex_sf rosbag gets stored in the bagfiles folder -->
    <!-- Play this file bag, rename it to save it, or use it for debugging as desired -->
    <node pkg="rosbag" type="record" name="recorder" args="--all -O $(find reflex)/bagfiles/latest_reflex_sf_run"/>
    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                reflex_sf_port:
                    port_name: "/dev/ttyUSB0"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 4 <!-- These two serve as the input param for the dynamixel package to 
                    identify connected motors -->
                    update_rate: 20 <!-- Based on __update_motor_state function under dynamixel_serial_proxy,
                    this will determine how fast the motor state is update in Hz (same value as rospy.rate) -->
        </rosparam>
    </node>
    <rosparam file="$(find reflex)/yaml/reflex_sf.yaml" command="load"/>
    <rosparam file="$(find reflex)/yaml/reflex_sf_zero_points.yaml" command="load"/>
    <node name="reflex_one_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port reflex_one_port 
                reflex_one_f1 reflex_one_f2 reflex_one_f3 reflex_one_preshape"
          output="screen"/>
    <node name="reflex_one_hand" pkg="reflex" type="reflex_one_hand.py" required="true" output="screen"/>
        <rosparam param="motors_list">["f1", "f2", "f3", "preshape"]</rosparam>
</launch>
